{{ define "main" }}
<div class="h-auto">
	<img src="{{ .Params.img }}" class="image-fluid w-100" style="position: absolute; top: 0;">
	<div class="container p-sm-5 p-3 bg-light rounded" style="position: relative; z-index: 10; top: 20vh;">
		<h1>{{ .Title }}</h1>
		<p class="fs-4 text-muted">{{ .PublishDate.Format "January 02, 2006" }}</p>
		<div class="container d-flex gx-2 my-3">
		{{ range .Params.Categories }}
			<a class="card-text btn btn-outline-dark" type="button" href="/categories/{{ . }}/">{{ . }}</a>
		{{ end }}
		</div>
		<div class="fs-5">
			{{ .Content }}
		</div>
	</div>
</div>
{{ end }}