<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
	<div class="container">
		<a class="navbar-brand" href="/">
				{{ .ctx.Site.Title }}
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-white" id="navigation">
			<ul class="navbar-nav ms-auto">
				{{ range .ctx.Site.Menus.main }}
					{{ if .HasChildren }}
						<li class="nav-item dropdown">
							<a href="#" id="categories" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
								{{ .Name }}
							</a>
							<ul class="dropdown-menu">
							{{ range .Children }}
								<li><a href="{{ .URL }}" class="dropdown-item">
									{{ .Name }}
								</a></li>
							{{ end }}
							</ul>

						</li>	
					{{ else }}	
						<li class="nav-item">
							<a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
						</li>
					{{ end }}
				{{ end }}
			</ul>
		</div>
	</div>
</nav>