<section class="bg-dark text-white pt-5 mt-5 bg-img" style="background-image: url('/img/bg-1.svg');">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="col-md-6 h-auto rounded p-3" style="background-color: rgba(80, 80, 80, 0.3);">
                <h1>Spectrum Blog</h3>
                <p class="description text-warning my-4"> informational and educational resource about Programming and CS, Information Security and Neurobiology. </p>
            </div>
            <div class="col-md-6">
                <img src="/img/home-hero.svg" alt="" class="image-fluid w-100" loading="lazy">
            </div>
        </div>
    </div>
</section>